@charset "utf-8";
/* Reset ---- S */
*{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,ul,li,dl,dt,dd,button,p,a{color:#333;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;font-size:12px;font-weight:normal;word-spacing:.02em;letter-spacing:-.05em;margin:0;padding:0;}
body,html{text-align:center;-webkit-text-size-adjust:none;background:#fff;font-size:0;}
b{font-weight:600;}
h1,h2,h3,h4,h5,h6{display:inline-block;box-sizing:border-box;width:auto;}
ul,ol,li{box-sizing:border-box;list-style:none;}
img,fieldset,iframe{border:none;}
img,input,select{vertical-align:middle;}
span,
a{display:inline-block;text-decoration:none;box-sizing:border-box;}
a:hover{text-decoration:none;}
caption{width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
ul,ol{list-style:none;}
em,address,i{font-style:normal;}
table{border:0;border-spacing:0;width:100%;text-align:center;border-collapse:collapse;}
button{display:inline-block;border:none;cursor:pointer;box-sizing:border-box;background:transparent;}
.block,.block div{display:block;}
input[type="text"],input[type="password"],textarea,select{height:25px;border:1px solid #cdcdcd;color:#333;background-color:rgba(255,255,255,.9);vertical-align:middle;padding:0 5px;box-sizing:border-box;}
select{min-width:50px;padding-right:20px;background:url(../images/btn_select.png) right 5px center no-repeat, rgba(255,255,255,.9);;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display: none;}

/* Common ---- S */
.blind{position:absolute;left:-9999px;top:-9999px;width:0;height:0;font-size:0;overflow:hidden;line-height:0;text-indent:-9999px;}
.clearfix{*zoom:1;}
.clearfix::before,
.clearfix::after{display:block;content:"";line-height:0;clear:both;}

.fl{float:left;}
.fr{float:right;}
.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}

.font_blue{color:#176899 !important;}

#wrap{min-width:1420px;}
.wrap{max-width:1420px;margin:0 auto;padding:0 10px;}
.con_wrap{min-height:calc(100% - 297px);}
.flex_wrap{display:flex;}
.f_sb{justify-content:space-between;}
.f_c{justify-content:center;}

/* Btn ---- S */
.btn_grayline{border:1px solid #cdcdcd;color:#777777;}
.btn_grayline:hover, .btn_grayline:active{background-color:#cdcdcd;color:#fff;}

/* Table ---- S */
.tbl_top{}
.tbl_scroll{}
.tbl_default{}
.tbl_col,.tbl_row{}
.tbl_col th,.tbl_row th{}
.tbl_row th,.tbl_row td{}
.tbl_col th,.tbl_col td{}

/* Input ---- S */
input[type="text"]{}
input[type="radio"]{}
input[type="checkbox"]{}
input[type="radio"]{}
input[type='checkbox']{}

/* jquery-ui custom ---- S */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.ui-datepicker{z-index:9000!important;;}
.ui-datepicker-title{display:block;width:auto;margin:0 2em;}
.ui-datepicker-title select{min-width:auto;height:auto;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:40%;margin-bottom:3px;padding:0;}
.ui-datepicker select.ui-datepicker-year{width:42%;}
.ui-datepicker select.ui-datepicker-month{margin-left:8px;}
.ui-datepicker-trigger,
.ui-monthpicker-trigger{cursor:pointer;}
.ui-monthpicker select.ui-datepicker-year{width:75px;}

/* jqgrid_custom ---- S */
.ui-jqgrid .jqgrid-multibox .ui-th-div{margin-top:0;}
.s-ico{display:inline;}
.ui-jqgrid.ui-corner-all{border-radius:0;border-color:#e8e8e8;border-top:3px solid #005a9e;}
.ui-jqgrid .ui-jqgrid-hdiv{border-bottom-color:#7facce;border-radius:0;background:transparent;}
.ui-jqgrid .jqgrid-rownum,
.ui-jqgrid .ui-jqgrid-hbox th{background:#fff;color:#333;font-weight: 600;border-color:#c4cdd3;vertical-align:middle;height:30px;}
.ui-jqgrid .ui-jqgrid-hbox th[colspan]{background:#e0e6ec;}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div{margin-top:3px;}
.ui-jqgrid tr{border-color:#e8e8e8;}
.ui-jqgrid tr.ui-row-ltr td{text-align:center;border-top:1px solid transparent;}
.ui-jqgrid tr.jqgrow td, .ui-jqgrid tr.jqgroup td{height:26px;}
.ui-jqgrid tr.ui-state-hover{background-color:#f5f6f7;}
.ui-jqgrid tr.ui-state-hover td{border-top-color:#ccc;}
.ui-jqgrid tr.ui-state-highlight,
.ui-jqgrid tr.ui-state-highlight td{border-color:#fad42e;}
.ui-jqgrid .ui-jqgrid-pager{background:#eff2f5;border-radius:0;}
.ui-jqgrid .ui-jqgrid-pager td{padding:0;border:none;background:transparent;}
.ui-jqgrid .ui-jqgrid-pager input{height:16px;border-radius:0;vertical-align:baseline;padding:3px 8px;}

/* style ---- S */
.logo{position:relative;}
.logo p{display:inline-block;font-family:'대한민국정부상징체';text-align:left;}
.logo img{vertical-align:bottom;}
.logo span{display:block;}

/* Header ---- S */
.hd_logo{top:14px;}
.hd_logo p{font-size:14px;}
.hd_logo img{padding-right:12px;}
.hd_logo span{font-size:26.5px;color:#222;letter-spacing:-2.65px;}
.util_list{margin:22px 0;}
.util_list button{padding:6px 12px;font-weight:600;}
.util_list>li:first-child button{margin-right:5px;}

/* Gnb ---- S */
.gnb_wrap{position:relative;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;z-index:9999;}
.gnb_wrap::after{display:none;position:absolute;top:54px;content:'';width:100%;height:255px;background-color: #fff;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;z-index:-1;transition:0.3s;}
.gnb_wrap.on::after{display:block;}
.gnb>li{display:inline-block;width:170px;margin:0 50px;}
.depth1{position:relative;width:100%;font-size:20px;font-weight:600;line-height:55px;transition:0.3s;}
.depth1:hover,.depth1:active,.depth1.on{color:#176899;}
.depth1.active{color:#176899;}
.depth1:hover::before,.depth1:active::before,.depth1.on::before,.depth1.active::before{position:absolute;bottom:-1px;left:calc(50% - 85px);content:'';display:inline-block;width:100%;height:4px;background-color:#176899;z-index:9999;}
.depth2{position:absolute;width:170px;height:255px;display:none;transition:0.3s;padding:24px 0;}
.depth2:hover,.depth2:active,.depth2.on{background-color:#f1f8fe;}
.depth2.active{background-color:#f1f8fe;}
.depth2 a{display:block;font-size:16px;color:#555;padding:10px 0;}
.depth2 a:hover,.depth2 a:active,.depth2 a.on{color:#176898;font-weight:600;}
.util_list{margin:22px 0;}
.util_list button{padding:6px 12px;font-weight:600;}
.util_list>li:first-child button{margin-right:5px;}
.snb_depth1{display:block;width:180px;line-height:48px;padding-left:20px;border:1px solid #ddd;border-bottom:1px solid transparent;}
.snb_depth1.last{border-bottom:1px solid #ddd;}
.snb_depth1:hover,.snb_depth1:active,.snb_depth1.on{background-color:#1994dd;color:#fff;border:1px solid transparent;}
.snb_depth2{display:block;border:2px solid #1994dd;padding-left:20px;}
.snb_depth2 a{display:block;line-height:38px;color:#f00;}
.snb_depth2 a:before{position:relative;top:-3px;display:inline-block;content:'';width:4px;height:4px;margin-right:8px;border-radius:5px;}
.snb_depth2 a:before{background-color:#f00;}
.snb_depth2 a:hover:before,.snb_depth2 a:active:before,.snb_depth2 a.on:before{background-color:#1994dd;}
.snb_depth2 a:hover,.snb_depth2 a:active,.snb_depth2 a.on{color:#1994dd;}
.snb{width:180px;padding-right:30px;}
.snb a{font-size:14px;}
.breadcrumb{padding-bottom:25px;text-align:right;}
.breadcrumb li:first-child a{position:relative;top:-3px;font-size:17px;}
.breadcrumb li:first-child a::before{display:none;}
.breadcrumb li{display:inline-block;}
.breadcrumb a{font-size:13px;vertical-align:top;letter-spacing:-.05em}
.breadcrumb a::before{content:'\e850';display:inline-block;font-family:'axicon';color:#333;}

/* Footer ---- S */
.footer{border-bottom:1px solid #cdcdcd;line-height:49px;}
.sitemap li::before{content:'';display:inline-block;width:1px;height:10px;background-color:#a3a3a3;}
.sitemap>li:first-child:before{display:none;}
.sitemap a{color:#555;font-size:14px;margin:0 24px;}
.sitemap>li:first-child a{margin-left:0;}
.family_site select{height:30px;font-size:14px;color:#555;}
.family_site>li:first-child select{margin-right:5px;}
.ft_logo{top:19px;}
.ft_logo p{font-size:13px;color:#a3a3a3;}
.ft_logo span{font-size:20px;color:#6a6a6a;letter-spacing:-0.5px;}
.ft_logo img{padding-right:10px;}
.addr{margin:21px 0;padding-left:25px;}
.addr p{font-size:14px;line-height:18px;letter-spacing:0.14px;}
.addr .copy{padding-top:13px;font-size:13px;color:#939393;letter-spacing:0.13px;}
.ft_tel{padding-right:30px;}
.ft_sns{margin-left:26px;}
.ft_sns a:first-child{padding-right:7px;}

/* check, hover 스타일 설정 IE, Chrome */
select option:checked,
select option:hover {
background: #f3f3f3;
color: #555;
}
/* check, hover 스타일 설정 FireFox */
select option:checked,
select option:hover {
box-shadow: 0 0 10px 100px #f3f3f3 inset;
color: #555;
}
