@charset "utf-8";
/* Reset */
*{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,ul,li,dl,dt,dd,button,p,a{color:#555;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;font-size:12px;font-weight:normal;word-spacing:.02em;letter-spacing:-.05em;margin:0;padding:0;}
body,html{text-align:center;-webkit-text-size-adjust:none;background:#fff;font-size:0;}
b{font-weight:600;}
h1,h2,h3,h4,h5,h6{box-sizing:border-box;width:auto;}
ul,ol,li{box-sizing:border-box;list-style:none;}
img,fieldset,iframe{border:none;}
img,input,select{vertical-align:middle;}
span,
a{display:inline-block;text-decoration:none;box-sizing:border-box;}
a:hover{text-decoration:none;}
caption{width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
em,address,i{font-style:normal;}
table{border:0;border-spacing:0;width:100%;text-align:center;border-collapse:collapse;}
button{display:inline-block;border:none;cursor:pointer;box-sizing:border-box;background:transparent;}
.block,.block div{display:block;}
input[type="text"],input[type="password"],textarea,select{height:25px;border:1px solid #cccccc;color:#555;background-color:rgba(255,255,255,.9);vertical-align:middle;padding:0 5px;box-sizing:border-box;}
input[type=checkbox]{width:15px;height:14px;}

select{min-width:50px;padding-right:20px;background:url(../images/btn_select.png) right 5px center no-repeat, rgba(255,255,255,.9);;-webkit-appearance:none;-moz-appearance:none;appearance:none;}

.footer select{min-width:50px;padding-right:20px;background:url(../images/btn_ft_select.png) right 5px center no-repeat, rgba(255,255,255,.9);;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display: none;}

/* Common */
.blind{position:absolute;left:-9999px;top:-9999px;width:0;height:0;font-size:0;overflow:hidden;line-height:0;text-indent:-9999px;}
.clearfix{*zoom:1;}
.clearfix::before,
.clearfix::after{display:block;content:"";line-height:0;clear:both;}

.fl{float:left;}
.fr{float:right;}
.alignL{text-align:left;}
.alignR{text-align:right;}
.alignC{text-align:center;}

.font_b{font-weight:bold;}
.font_skyblue{color:#1994dd !important;}
.font_blue{color:#156897 !important;}

#wrap{min-width:1420px;}
.wrap{max-width:1420px;margin:0 auto;padding:0 10px;}
.con_wrap{min-height:calc(100% - 297px);padding:27px 0 60px;}
.flex_wrap{display:flex;}
.f_sb{justify-content:space-between;}
.f_c{justify-content:center;}

/* Btn */
.btn_comM{padding:3px 8px;font-size:13px;}
.btn_com{padding:4px 12px;font-size:13px;}
.btn_search{width:61px;height:34px;padding:6px 8px 9px 6px;font-size:14px;font-weight:bold;letter-spacing:-1.4px;}
.btn_grayline{border:1px solid #cdcdcd;background-color:#fff;color:#777777;}
.btn_grayline:hover, .btn_grayline:active{background-color:#cdcdcd;color:#fff;}
.btn_skyblueline{border:1px solid #1994dd;background-color:#fff;color:#1994dd;}
.btn_skyblueline:hover, .btn_skyblueline:active{background-color:#1994dd;color:#fff;}
.btn_greenline{border:1px solid #15981c;background-color:#fff;color:#15981c;}
.btn_greenline:hover, .btn_greenline:active{background-color:#15981c;color:#fff;}
.btn_blue{border:transparent;background-color:#156897;color:#fff;}

/* lim : hover시 색상은 추가하도록 하겠습니다! */
.btn_blue:hover, .btn_blue:active{background-color:;color:;}
.btn_skyblue{border:transparent;background-color:#1994dd;color:#fff;}
.btn_skyblue:hover, .btn_skyblue:active{background-color:;color:;}
.btn_black{border:transparent;background-color:#000000;color:#fff;}
.btn_black:hover, .btn_black:active{background-color:;color:;}

/* icon */
.ico_circle::before{position:relative;top:1px;content:'';display:inline-block;background:url(../images/ico_circle.png)left bottom no-repeat;width:12px;height:12px;margin-right:5px;}
.ico_circleL{position:relative;}
.ico_circleL::before{position:absolute;top:3px;left:-19px;content:'';display:inline-block;width:15px;height:15px;background:url(../images/ico_circle.png)top left;}
.ico_area{position:relative;font-size:16px;font-weight:bold;color:#000;text-align:left;padding-left:25px;}
.ico_area::before{position:absolute;top:0;left:0;content:'';display:inline-block;width:21px;height:25px;background:url(../images/ico_eq.png)no-repeat;}
.ico_download::after{content:'';display:inline-block;width:13px;height:12px;background:url(../images/ico_dowmload.png) no-repeat;margin-left:10px;}
.ico_download.excel::after{background-position-y:50%;}
.ico_download:hover::after,.ico_download:active::after{background-position-y:100%;}
.ico_shortcut:after{content:'';display:inline-block;width:10px;height:10px;background:url(../images/ico_shorthand.png);margin-left:5px;}

/* Table */
.tbl_list{border-top:2px solid #367fa9;}
.tbl_list th{font-size:14px;font-weight:bold;color:#000;letter-spacing:-1.4px;}
.tbl_list td{font-size:13px;letter-spacing:-0.33px;line-height:1.38;}
.tbl_list tr{border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.tbl_list tbody tr:hover,.tbl tbody tr:active{background-color:#f3f3f3;}

/* select & Input */
label{font-size:12px;}
select option:checked,
select option:hover{background:#f3f3f3;color:#555;}select option:checked,
select option:hover{box-shadow:0 0 10px 100px #f3f3f3 inset;color:#555;}
.input_50 input{width:50px;}
.input_60 input{width:60px;}
.input_180 input{width:180px;}
.select_55 select{width:55px;}

/* paginate */
.paginate{margin-top:27px;text-align:center}
.paginate a,.paginate .on{display:inline-block;position:relative;_width /**/:14px;min-width:23px;padding:1px 5px 2px 4px;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;margin:0 3px;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.paginate a:hover, .paginate .on{color:#fff;background-color:#367fa9;}
.paginate .pre,
.paginate .next,
.paginate .first,
.paginate .last{_width /**/:47px;width:23px;height:23px;color:#777;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:10px;line-height:19px;font-weight:bold;}

/* jquery-ui custom */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
.ui-datepicker{z-index:9000!important;;}
.ui-datepicker-title{display:block;width:auto;margin:0 2em;}
.ui-datepicker-title select{min-width:auto;height:auto;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:40%;margin-bottom:3px;padding:0;}
.ui-datepicker select.ui-datepicker-year{width:42%;}
.ui-datepicker select.ui-datepicker-month{margin-left:8px;}
.ui-datepicker-trigger,
.ui-monthpicker-trigger{cursor:pointer;}
.ui-monthpicker select.ui-datepicker-year{width:75px;}

/* style */
.logo{position:relative;}
.logo p{display:inline-block;font-family:'대한민국정부상징체';text-align:left;}
.logo span{display:block;}
.logo img{vertical-align: bottom;}

/* Header */
.hd_logo{top:14px;}
.hd_logo p{font-size:14px;}
.hd_logo img{padding-right:12px;}
.hd_logo span{font-size:26.5px;color:#222;letter-spacing:-2.65px;}

/* Gnb */
.gnb_wrap{position:relative;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;z-index:9999;}
.gnb_wrap::after{display:none;position:absolute;top:54px;content:'';width:100%;height:255px;background-color: #fff;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;z-index:-1;transition:0.3s;}
.gnb_wrap.on::after{display:block;}
.gnb>li{display:inline-block;width:170px;margin:0 50px;}
.depth1{position:relative;width:100%;font-size:20px;font-weight:600;line-height:55px;transition:0.3s;}
.depth1:hover,.depth1:active,.depth1.on{color:#176899;}
.depth1.active{color:#176899;}
.depth1:hover::before,.depth1:active::before,.depth1.on::before,.depth1.active::before{position:absolute;bottom:-1px;left:calc(50% - 85px);content:'';display:inline-block;width:100%;height:4px;background-color:#176899;z-index:9999;}
.depth2{position:absolute;width:170px;height:255px;display:none;transition:0.3s;}
.depth2:hover,.depth2:active,.depth2.on{background-color:#f1f8fe;}
.depth2.active{background-color:#f1f8fe;}
.depth2 a{display:block;font-size:16px;color:#555;padding:12.5px 0;}
.depth2 a:hover,.depth2 a:active,.depth2 a.on{color:#176898;font-weight:600;}
.util_list{margin:22px 0;}
.util_list button{padding:6px 12px;font-weight:600;}
.util_list>li:first-child button{margin-right:5px;}

/* snb */
.snb_wrap{width:180px;margin-right:33px;}
#snb{width:180px;}
#snb>li>a{display:block;padding:16px 0 16px 20px;color:#555;border:1px solid #dfdfdf;border-bottom:1px solid transparent;font-size:16px;font-weight:bold;background:url(../images/ico_snb_plus.png) 87% center no-repeat;}
#snb>li:last-child a{border-bottom:1px solid #dfdfdf;}
#snb>li>a:hover{color:#fff;background:#1a94dd url(../images/ico_snb_plus_wh.png) 87% center no-repeat;border:1px solid #1a94dd;}
#snb>li>a.on:hover,
#snb>li>a.on{color:#fff;background:#1a94dd url(../images/ico_snb_min.png) 87% center no-repeat;border:1px solid #1a94dd;}
#snb>li>a.empty{background:none;}
#snb>li>a.empty:hover{background:#1a94dd;color:#fff;border:1px solid #1a94dd;}
#snb>li>a.on.empty{background:#1a94dd;color:#fff;border:1px solid #1a94dd;}
#snb>li>ul{background-color:#fff;border:1px solid #1a94dd;}
#snb>li>ul>li>a{display:block;padding-left:25px;color:#555;font-size:14px;line-height:40px;}
#snb>li>ul>li>a:hover,#snb>li>ul>li>a:active,#snb>li>ul>li>a.on,#snb>li>ul>li>a.active{color:#1a94dd;}
#snb>li>ul>li>a::before{position:relative;top:-3px;display:inline-block;content:'';width:5px;height:5px;border-radius:5px;background-color:#aeaeae;margin-right:10px;}
#snb>li>ul>li>a:hover::before,#snb>li>ul>li>a:active::before,#snb>li>ul>li>a.active::before{background-color:#1a94dd;}

/* lnb */
.breadcrumb{padding-bottom:8px;text-align:right;}
.breadcrumb li:first-child a{position:relative;top:2px;display:block;width:12px;height:12px;background:url(../images/ico_home.png)no-repeat;}
.breadcrumb li:first-child a::before{display:none;}
.breadcrumb li{display:inline-block;}
.breadcrumb a{font-size:14px;vertical-align:top;letter-spacing:-1.4px;color:#777;}
.breadcrumb li:last-child a{font-weight:bold;color:#555;}
.breadcrumb a::before{content:'\e850';display:inline-block;font-family:'axicon';font-weight:normal;color:#999;margin:0 4px;}

/* Footer */
.footer{border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;line-height:49px;}
.sitemap li::before{content:'';display:inline-block;width:1px;height:10px;background-color:#a3a3a3;}
.sitemap>li:first-child:before{display:none;}
.sitemap a{color:#555;font-size:14px;margin:0 24px;}
.sitemap>li:first-child a{margin-left:0;}
.family_site select{height:30px;font-size:14px;color:#555;}
.family_site>li:first-child select{margin-right:5px;}
.ft_logo{top:19px;}
.ft_logo p{font-size:13px;color:#a3a3a3;}
.ft_logo span{font-size:20px;color:#6a6a6a;letter-spacing:-0.5px;}
.ft_logo img{padding-right:10px;}
.addr{margin:21px 0;padding-left:25px;}
.addr p{font-size:14px;line-height:18px;letter-spacing:0.14px;}
.addr .copy{padding-top:13px;font-size:13px;color:#939393;letter-spacing:0.13px;}
.ft_tel{padding-right:30px;}
.ft_sns{margin-left:26px;}
.ft_sns a:first-child{padding-right:7px;}

/* sub */
.section_r{width:calc(100% - 210px);}
.tit_snb{width:180px;font-size:20px;font-weight:bold;color:#fff;background:url(../images/bg_tit_snb.png)no-repeat; margin-bottom:10px;line-height:120px;}
.tit_h2{margin-bottom:40px;text-align:left;}
.tit_h2 h2{padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #b2b2b2;font-size:30px;font-weight:bold;color:#000;}
.tit_h2 p{font-size:15px;line-height:20px;letter-spacing:-0.9px;}
.search li{display:inline-block;}
.damage_legend{position:absolute;right:10px;bottom:10px;background-color:rgba(255, 255, 255, 0.5);line-height:17px;}
.public_range{width:95px;height:74px;padding:12px;border:1px solid #949494;}
.i_public{position:relative;font-weight:bold;margin-left:23px;}
.i_public::before{position:absolute;content:'';display:inline-block;background:url(../images/ico_damage.png)no-repeat;text-align:left;}
.i_public1{left:3px;margin-left:20px;margin-bottom:6px;}
.i_public1::before{top:-1px;;left:-25px;width:21px;height:21px;background-position:center center;}
.i_public2{line-height: 1.17;}
.i_public2::before{top:4px;left:-24px;width:21px;height:21px;background-position:top;}
.i_public2On::before{top:4px;left:-24px;width:21px;height:21px;background-position:bottom;}
.private_range{width:84px;height:76px;padding:8px 13px;border:1px solid #888;}
.i_private{line-height:20px;font-weight:bold;}
.i_private::before{display:inline-block;content:'';position:relative;width:10px;height:10px;border:1px solid #000;border-radius:50%;margin-right:10px;}
.i_private1::before{background-color:#ef8116;}
.i_private2::before{background-color:#fddd00;}
.i_private3::before{background-color:#94bd47;}

/* 대국민 지진정보 */
/* 지진발생정보 */
.search_instrumental{padding:20px 15px;border:1px solid #ddd;background-color:#edf8fe;text-align:left;}
.search_instrumental h3{font-size:14px;font-weight:bold;color:#000;text-align:left;letter-spacing:-1.4px;margin-bottom:9px;}
.search_instrumental .btn_black{margin-right:3px;}
.search_instrumental li{margin:-3px;padding:0 12px;}
.search_instrumental label{padding-right:6px;font-size:13px;letter-spacing: -1.3px;}
.info_detail ul{display:inline-block;}
.info_detail i{position:relative;top:1px;font-size:15px;}
.info_earthquake ul{margin:9px 0 26px;}
.info_detail ul>li:last-child{padding:0 0 0 27px;}
.info_detail li img{padding-right:2px;}
.info_earthquake ul>li:last-child{padding-right:0;}
.info_instrumental{padding-top:20px;}
.info_instrumental .section_l{margin-right:16px;border:1px solid #555555;}
.tbl_instrumental thead tr{height:52px;}
.tbl_instrumental tbody tr{height:59px;}
.tbl_instrumental tr>td:nth-child(5){position:relative;padding-left:10px;text-align:left;}
.tbl_instrumental tr>td:last-child{position:relative;}
.tbl_instrumental tr>td:last-child:hover .tooltip{display:block;}
.tooltip{display:none;position:absolute;right:17px;bottom:-7px;width:110px;line-height:23px;border:1px solid #bebdbd;background-color:rgba(255,255,255,.6);font-size:12px;box-shadow: 1.5px 2.6px 3px 0 rgba(0, 0, 0, 0.06);}

/* 지진행동요령 */
.search_knowhow{padding:30px 0;border-top:2px solid #22709e;border-bottom:1px solid #eeeeee;margin-bottom:25px;align-items: center;}
.search_knowhow button{vertical-align:middle;}
.search_knowhow select{height:34px;font-size:14px;}
.search_knowhow>li{margin-left:4px;}
.search_knowhow>li:first-child{margin-left:0;}
.search_knowhow>li:first-child select{width:150px;}
.search_knowhow>li:nth-child(2) select{width:100px;}
.search_knowhow input[type=text]{width:250px;height:34px;font-size:14px;padding-left:9px;}
.search_knowhow input[type=checkbox]{position:relative;top:-2px;margin-left:9px;}
.result_knowhow_top input[type=checkbox]{position:relative;top:-5px;margin-right:3px;}
.result_knowhow_top p{font-size:14px; color:#000;}
.search_knowhow input::placeholder{color:#bcbcbc;}
.search_knowhow label{font-size:14px;color:#8a8a8a;letter-spacing: -1.4px;}
.result_knowhow label{margin-right:10px;font-size:14px;color:#8a8a8a;}
.result_knowhow button{margin-right:3px;}
.list_knowhow{margin:10px 0 9px;border-top:2px solid #22709e;text-align:left;}
.list_knowhow li{padding:34px 0 33px;border-bottom:1px solid #dfdfdf;}
.list_knowhow input,.list_knowhow span{vertical-align:top;}
.list_knowhow i{position:relative;top:-2px;}
.list_knowhow dl{padding-top:35px;text-align:left;}
.list_knowhow dt,.list_knowhow dd{display:inline-block;font-size:14px;}
.list_knowhow img{margin:0 22px;border:1px solid #b2b2b2;}
.list_knowhow p{font-size:14px;color:#777;}
.list_knowhow b{padding-bottom:6px;font-size:20px;font-weight:bold;color:#000;}
.list_knowhow dt{color:#999999;}
.list_knowhow dd{color:#000;margin-right:25px;}
.list_knowhow dd:last-child{margin-right:0;}

/* 국내재난안전포털 */
.eqinfo_04 .info_damage{display:inline-block;width:calc(100% - 552px);margin:0 35px 0 35px;}
.disaster_portal{padding:31px 0;border-top:2px solid #22709e;border-bottom:1px solid #eee;}
.eqinfo_04 .ico_area{margin:20px 0 17px;}
.disaster_portal h3{width:244px;border-right:1px solid #eee; font-size:18px;font-weight:bold;color:#176899;line-height:66px;}
.disaster_portal ul{width:calc(100% - 244px);flex-wrap:wrap;align-content: space-between;padding-left:38px; }
.disaster_portal li{text-align:left;}
.disaster_portal label{position:relative;top:-2.5px;font-size:16px;margin-right:42px;}
.disaster_portal .jeju{margin-right:35px;}
.portal_range{width:119px;height:72px;padding:12px;border:1px solid #949494;line-height:18px;}
.portal_range .i_public1{margin-bottom:13px;}
.portal_range .i_public2::before{top:-2px;}
.checks {position: relative;}
.checks input[type="radio"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.checks input[type="radio"] + label {display:inline-block;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.checks input[type="radio"] + label:before {position:relative;top:5px; content:'';display:inline-block;width:22px;height:22px;margin-right:8px;background:url(../images/ico_check.png)no-repeat center;background-size:cover; background-position-y:57.4%;}
.checks input[type="radio"]:checked + label::before {background-position-y:29%;}
.map_detail{position:absolute;width:230px;height:93px;border:2px solid #1a4cdd;border-radius:5px;background-color:#fff;}
.map_detail::before{position:absolute;z-index:2; bottom:-19px;left:calc(50% - 14px);content:'';display:inline-block;width:0;height:0;border-left:14px solid transparent;border-right:14px solid transparent;border-top:19px solid #fff;}
.map_detail::after{position:absolute;bottom:-22px;left:calc(50% - 15px);content:'';display:inline-block;width:0;height:0;border-left:15px solid transparent;border-right:15px solid transparent;border-top:20px solid #1a4cdd;}
.map_detail h4{text-align:center;background-color:#1a4cdd;font-weight:bold;color:#fff;line-height:20px;}
.map_detail dl{padding:10px 18px;}
.map_detail dt, .map_detail dd{display:inline-block;line-height:18px;}
.map_detail dt{width:42px;font-weight:bold;color:#1a4cdd;}
.map_detail dt::before{content:'·';display:inline-block;padding-right:5px;}
.link_wrap{margin:10px 0;}
.link_wrap>span:first-child{position:relative;top:5px;font-size:14px;letter-spacing: 0.14px;}
.link_wrap a{font-size:13px;margin-left:7px;}
.link_wrap .paginate{position:relative;right:3px;margin-top:0;}
.link_wrap .paginate .pre,
.link_wrap .paginate .next{width:25px;height:25px;color:#777;background-color:#fff;border:1px solid #dddddd;margin:0 1px;margin-right:-3px;padding-top:3px;font-size:12px;line-height:19px;font-weight:bold;}
.link_wrap .paginate a:hover, .link_wrap .paginate .on{border:1px solid #1a94dd;color:#1a94dd;}
.eqinfo_04 .info_damage h4{margin:36px 0px 6px;}
.eqinfo_04 .portal_info{border:1px solid #b2b2b2;}

/* 지진현장조사 */
#tabs{position:relative;}
#tabs .section_l{display:inline-block;width:581px;}
#tabs .section_r{display:inline-block;width:calc(100% - 615px);margin-left:34px; vertical-align:top;}
.ui-widget.ui-widget-content{border:none;}
.tit_tabs{position:absolute;z-index:2;top:0;left:0;height:38px;padding:10px !important;border:1px solid #555; border-radius:0;background-color:rgba(255, 255, 255, 0.7)}
.search_eq h3{margin-bottom:15px;font-size:18px;font-weight:bold;color:#176899;}
.tit_damage{height:55px;align-items: center;}
.tit_damage h3{display:inline-block;}
.tit_damage button{position:relative;height:31px;padding:0 81px 0 25px;background-color:#1a94dd;font-size:13px;font-weight:bold;color:#fff;letter-spacing:-0.98px;}
.tit_damage button:hover{background-color:#167ebc;}
.tit_damage button::after{position:absolute;top:calc(50% - 6px);right:16px;content:'';display:inline-block;width:49px;height:6px; background:url(../images/bg_quick.png)no-repeat;}
.map_damage_wrap{position:relative;}
.map_info{margin-top:5px; font-size:13px;letter-spacing:-0.65px;}
.map_damage{position:relative;border:1px solid #555555;text-align:left;}
.map_damage i{position:absolute;}
.search_eq{border-top:2px solid #176899;border-bottom:1px solid #eee;padding:33px 0 48px;}
.search_eq ul{overflow:hidden;width:100%;white-space: nowrap;}
.search_eq li{display:inline-block;width:240px;height:90px;padding:20px 0;border:1px solid #dddddd;}
.info_damage{text-align:left;}
.info_damage ul>li:first-child h4{margin-top:0;}
.info_damage h4{font-size:16px;font-weight:bold;color:#1a94dd;margin:24px 0px 6px;}
.info_damage dd, .info_damage dt{display:inline-block;font-size:14px;letter-spacing: -0.35px;line-height: 1.79;}
.info_damage dt{font-weight:bold;}
.info_damage dt::before{content:'-';display:inline-block;margin-right:4px;}
.info_damage dd::before{content:':';display:inline-block;margin-right:5px;}
.info_damage p{font-size:14px;color:#555;line-height:25px;}
.datail_damage{width:582px;height:220px;margin-bottom:5px;border:1px solid #b2b2b2;}
.tit_tabs span{padding-right:14px;font-size:14px;font-weight:bold;color:#003793;letter-spacing:-1.05px;}
#ui-id-2{padding-right:0;}
.ui-tabs .ui-tabs-nav li{margin:0;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background-color:transparent;border:none;color:#000;}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{padding:0;color:#000;padding-left:22px;padding-right:14px;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#000;}
.tit_tabs a{position:relative;font-size:13px;}
.tit_tabs a::before{position:absolute;top:0;left:0;content:'';display:inline-block;width:17px;height:17px;background:url(../images/ico_check.png) no-repeat bottom;}
.ui-state-active a::before{background-position-y:80%;}

/* ico_fileName Extention */
.ico_ext{display:inline-block;width:17px;height:17px;background:url(../images/ico_fileExt.png) -223px -82px no-repeat;margin:0 7px;vertical-align:middle;font-size:0;line-height:0;}
.ext_bmp{background-position:-3px -2px;}
.ext_jpg{background-position:-23px -2px;}
.ext_gif{background-position:-43px -2px;}
.ext_png{background-position:-63px -2px;}
.ext_tif{background-position:-83px -2px;}
.ext_pdf{background-position:-103px -2px;}
.ext_ppt{background-position:-123px -2px;}
.ext_ai {background-position:-143px -2px;}
.ext_xls{background-position:-163px -2px;}
.ext_psd{background-position:-183px -2px;}
.ext_doc{background-position:-3px -22px;}
.ext_hwp{background-position:-23px -22px;}
.ext_txt{background-position:-43px -22px;}
.ext_c  {background-position:-63px -22px;}
.ext_cpp{background-position:-83px -22px;}
.ext_jav{background-position:-103px -22px;}
.ext_htm{background-position:-123px -22px;}
.ext_css{background-position:-143px -22px;}
.ext_js {background-position:-163px -22px;}
.ext_log{background-position:-183px -22px;}
.ext_m4a{background-position:-203px -22px;}
.ext_swf{background-position:-223px -22px;}
.ext_au {background-position:-3px -42px;}
.ext_mid{background-position:-23px -42px;}
.ext_mod{background-position:-43px -42px;}
.ext_mp2{background-position:-63px -42px;}
.ext_mp3{background-position:-83px -42px;}
.ext_ogg{background-position:-103px -42px;}
.ext_ra {background-position:-123px -42px;}
.ext_rm {background-position:-143px -42px;}
.ext_snd{background-position:-163px -42px;}
.ext_voc{background-position:-183px -42px;}
.ext_wav{background-position:-203px -42px;}
.ext_wma{background-position:-223px -42px;}
.ext_avi{background-position:-3px -62px;}
.ext_mov{background-position:-23px -62px;}
.ext_mpg{background-position:-43px -62px;}
.ext_mv {background-position:-63px -62px;}
.ext_asf{background-position:-83px -62px;}
.ext_asx{background-position:-103px -62px;}
.ext_qt {background-position:-123px -62px;}
.ext_rv {background-position:-143px -62px;}
.ext_wmx{background-position:-163px -62px;}
.ext_mp4{background-position:-183px -62px;}
.ext_fla{background-position:-203px -62px;}
.ext_flv{background-position:-223px -62px;}
.ext_alz{background-position:-3px -82px;}
.ext_arj{background-position:-23px -82px;}
.ext_bzz{background-position:-43px -82px;}
.ext_egg{background-position:-63px -82px;}
.ext_gz {background-position:-83px -82px;}
.ext_jar{background-position:-103px -82px;}
.ext_rar{background-position:-123px -82px;}
.ext_tar{background-position:-143px -82px;}
.ext_tgz{background-position:-163px -82px;}
.ext_zip{background-position:-183px -82px;}
.ext_7z {background-position:-203px -82px;}
.ext_etc{background-position:-223px -82px;}
.ext_html{background-position:-3px -102px;}
.ext_wmv {background-position:-23px -102px;}
.ext_wvz {background-position:-43px -102px;}
.ext_bzs {background-position:-63px -102px;}
