@charset "utf-8";

/* main */
.main{background:url(../images/main-image.jpg) 0 0 no-repeat;background-size:cover;}
.intro_tit{color:#fff;padding-top:98px;}
.intro_tit h1{font-size:60px;letter-spacing:-.1em;color:#fff;line-height:1;}
.intro_tit p{font-size:24px;color:#fff;margin-top:20px;}
.intro_tit b{color:#f7e670;font-size:26px;}
.live_num ul,
.conts_num ul{display:flex;justify-content:space-between;}
.live_num li,
.conts_num li{background:url(../images/ico_main.png) 0 0 no-repeat;}
.live_num{display:inline-block;width:1230px;margin-top:78px;}
.live_num li{font-size:20px;color:#fff;text-align:left;padding-left:94px;}
.live_num li:nth-child(1){background-position-y:8px;}
.live_num li:nth-child(2){background-position-y:-80px;}
.live_num li:nth-child(3){background-position-y:-168px;}
.live_num li:nth-child(4){background-position-y:-258px;}
.live_num .num{font-size:50px;font-weight:bold;color:#fff;line-height:1;margin-bottom:5px;}
.conts_num{display:inline-block;width:678px;margin:30px 0;line-height:1;}
.conts_num li{font-size:13px;color:rgba(255,255,255,.5);text-align:left;padding-left:56px;}
.conts_num .num{font-size:30px;color:#fff;font-weight:600;margin-top:5px;}
.conts_num li:nth-child(1){background-position-y:59.5%;}
.conts_num li:nth-child(2){background-position-y:92%;}
.conts_num li:nth-child(3){background-position-y:81.9%;}
.conts_num li:nth-child(4){background-position-y:70%;}
.main .search_box{margin-top:25px;padding-top:35px; border-top:1px solid rgba(255,255,255,.2);}
.ipt_search{position:relative;display:inline-block;width:601px;}
.ipt_search input{width:100%;height:66px;line-height:1;border:2px solid #1a94dd;background-color:rgba(255,255,255,.2);color:#fff;font-size:18px;padding:0 96px 0 28px;}
.ipt_search input::-webkit-input-placeholder,
.ipt_search input:focus::-webkit-input-placeholder{color:#fff;font-size:18px;}
.ipt_search input::-moz-input-placeholder,
.ipt_search input::-ms-input-placeholder,
.ipt_search input::placeholder{color:#fff;font-size:18px;}
.ipt_search button{position:absolute;top:50%; right:20px;width:36px;height:36px;background:url(../images/btn_search.png) 0 0 no-repeat;margin-top:-18px;font-size:0;text-indent:-9999px;overflow:hidden;}
.main_notice{position:relative;display:flex;justify-content:center;background-color:#176899;}
.main_notice::before{content:"";position:absolute;right:0;top:0;width:50%;height:100%;background-color:#1a94dd;}
.main_notice h2{font-size:18px;color:#fff;font-weight:600;background:url(../images/ico_main.png) 0 107.7% no-repeat;padding-left:32px;margin-right:28px;}
.main_notice ul{margin-top:-10px;}
.main_notice li{margin-top:10px;}
.main_notice li a{color:#fff;font-size:14px;line-height:1.2;white-space:nowrap;text-overflow:ellipsis;}
.main_notice li a:hover{color:#f7e670}
.main_notice li a::before{content:"·";font-weight:bold;margin-right:9px;}
.popular,
.newest{position:relative;flex:0 1 auto;display:flex;
width:709px;text-align:left;padding:22px 70px;box-sizing:border-box;}

/* intro */
.intro01 p{margin-top:30px;text-align:justify;font-size:18px;line-height:1.5;word-break:keep-all;letter-spacing:-.02em;}
.intro02{text-align:left;}
.intro02 .tit{padding-left:19px;margin-bottom:10px;}
.intro02 .tit h3{font-size:16px;
font-weight:600;line-height:1.2;}
.intro02 .body{padding-left:18px;}
.intro02 > .section{margin-top:60px;}
.intro02 > .section:first-of-type{margin-top:0;}
.intro02 p,
.intro02 dt,
.intro02 dd,
.intro02 li,
.intro03 li{font-size:14px;line-height:25px;}
.intro02 p{margin-bottom:5px;}
.intro02 .dot_list dt{color:#1a94dd;font-weight:600;margin-top:5px;}
.intro02 .dot_list:nth-child(1) dt:nth-of-type(2){margin-top:20px;}
.intro02 .dot_list dt::before{font-size:18px;content:'·';margin-right:7px;}
.intro02 .dot_list dd{padding-left:15px;}
.intro02 .li_figure{margin-top:10px;}
.li_figure li{text-align:center;margin:0 56px;}
.li_figure.mg_fix li{margin:0 0 0 50px;}
.li_figure p,
.box_figure .figure p{margin-top:8px;color:#000;}
.dash_list li{padding-left:11px;text-indent:-11px;}
.dot_list>li::before{content:"·";margin-right:5px;}
.dash_list>li::before{content:"-";margin-right:5px;}
.dash_list p{font-size:14px;text-indent:0;}
.box_figure{background-color:#efefef;padding:30px 36px 20px;margin:5px 0 30px;}
.box_figure .figure{text-align:center;margin-right:20px;}
.box_figure .mg_fix{margin-top:20px;}
.perinfo_wrap{width:100%;height:263px;border:1px solid #ededed;align-items:center;}
.perinfo_wrap h3{margin-bottom:30px;font-size:18px;font-weight:bold;color:#176899;}
.perinfo_wrap p{font-size:15px;letter-spacing:-.38px;line-height:26px;}
.perinfo_wrap span{color:#1a94dd;}
.faq_wrap{border-top:2px solid #367fa9;border-bottom:1px solid #dfdfdf;}
.faq_question{text-align:left;border-top:1px solid #dfdfdf;}
.faq_question>p{position:relative;padding:22px 0 22px 77px;font-size:17px;font-weight:bold;background:url(../images/bg_question.png) no-repeat top 18px left 25px;}
.faq_question>p::after{position:absolute;top:45%;right:30px;display:inline-block;content:'';width:18px;height:10px;background:url(../images/bg_openarr.png)no-repeat;transition:0.3s;}
.faq_question.on>p::after{transform:rotate(-180deg);}
.faq_answer{display:none;padding:22px 22px 22px 77px;border-top:1px solid #dfdfdf;background:#fbfbfb url(../images/bg_answer.png) no-repeat top 18px left 25px;}
.faq_answer p{font-size:15px;letter-spacing:-0.38px;line-height:22px;}
.faq_answer p span{color:#ff6174;}

/* 지진 상식 */
.knowledge .tit h3{line-height:25px;}
.knowledge .tit .ico_circleL::before{top:6px;}
.knowledge .copyS,
.dwelling .copyS{font-size:12px;color:#777;}
.knowledge .copyM,
.dwelling .copyM{margin:5px 0 0;font-size:13px;color:#777;}
.knowledge .copyL,
.dwelling .copyL{font-size:14px;font-weight:normal;color:#1a94dd;}
.intro02 .dot::before,
.knowledge .dot::before,
.dwelling .dot::before
{position:absolute;top:0;left:0; display:inline-block;content:'·';font-size:20px;font-weight:bold;color:#1994dd;}
.intro02 .dot,
.knowledge .dot,
.dwelling .dot{position:relative;padding-left:10px;}
.knowledge .dot_list dd,
.dwelling .dot_list dd{letter-spacing:-0.35px;}
.knowledge p,.dwelling p{margin-bottom:15px;}
.knowledge .img_wrap,
.dwelling .img_wrap{margin-top:35px;text-align:center;}
.knowledge .img_wrap:last-child,
.dwelling .img_wrap:last-child{margin-top:5px;}
.tbl_knowledge{margin-top:35px;}
.tbl_knowledge th{font-size:14px;font-weight:bold;color:#262626;background-color:#eaf4fa;line-height:30px;border-top:1px solid #ccc;}
.tbl_knowledge td{padding:2px 0; border:1px solid #ccc;border-width:1px 0 1px;font-size:14px;line-height:30px;}
.tbl_knowledge td:nth-child(2){text-align-last:left;}
.knowledge.knowledge03 dd{letter-spacing:-0.45px;}
.knowledge.knowledge03 .img_wrap{margin:20px 0 80px;}
.tbl_knowledge_04{text-align:center;}
.tbl_fault, .tbl_fault2{width:850px;margin:0 auto;}
.tbl_fault2{margin-top:20px;}
.tbl_fault tr, .tbl_fault2 tr{border:1px solid #dfdfdf;border-width:1px 0 1px;}
.tbl_fault th, .tbl_fault2 th{background-color:#eaf4fa;font-weight:bold;color:#262626;font-size:13px;}
.tbl_fault td, .tbl_fault2 td{padding:10px;font-size:13px;border:1px solid #dfdfdf;}
.tbl_fault td:last-child, .tbl_fault2 td:last-child{border-right-width:0;}
.tbl_fault td{text-align:left;line-height:20px;}
.ico_bar{width:150px;height:8px;background-color:#ea490a;}
.tbl_fault2 tr:nth-child(2) .ico_bar{background-color:#eae70a;}
.tbl_fault2 tr:nth-child(3) .ico_bar{background-color:#24ea0a;}
.tbl_fault2 tr:nth-child(4) .ico_bar{background-color:#0a6eea;}
.knowledge.knowledge04 .img_wrap{margin:15px 0 80px;}
.knowledge.intro02 .dot_list:nth-child(1) dt:nth-of-type(2){margin-top:5px;}
.researchresults .asterisk::before{position:absolute;display:inline-block;content:'*';top:0;left:10px;}
.researchresults .asterisk{position:relative;padding-left:20px;}

.f_sa{justify-content:space-around;}
.ico_info{position:relative;}
.ico_info::before{position:absolute;left:-15px;display:inline-block;content:'※';}
.ico_opennew::after{display:inline-block;content:'\e8ad';font-family:'axicon';margin-left:3px;transform:rotate(180deg);}
.img_list div div{padding:12px 0 15px;border:1px solid #dfdfdf;background-color:#f3f0f0;text-align:center;}
.img_list h4{font-size:14px;font-weight:bold;color:#000;}
.img_list p{margin-bottom:0;font-size:13px;line-height:18px;}

.dwelling02 .tit{margin-top:60px;}
.dwelling02 > .section{margin-top:20px;}
.dwelling02 .img_wrap{padding:25px 0;background-color:#efefef;}
.dwelling02 .dot_list dd{padding-left:0;margin-bottom:10px;}
.dwelling03 h4::before{position:absolute;top:0;left:0;display:inline-block;content:'';width:11px;height:31px;background-color:#137dbd;}
.dwelling03 h4::after{position:absolute;top:15px;left:270px;display:inline-block;content:'';width:833px;height:1px;background-color:#41aef0;}
.dwelling03 h4{position:relative;display:block;width:233px;margin-top:30px;padding-left:18px;border-radius:0 15px 15px 0;background-color:#41aef0;line-height:31px;font-size:16px;font-weight:bold;color:#fff;}
.dwelling03 .section:first-child h4::after{display:none;}
.dwelling04 .dot_list dt{margin-top:20px;}
.dwelling04 .list_ex{margin-left:30px;}
.dwelling04 .list_ex span{color:#a2a2a2;}
.dwelling04 .list_ex a{font-size:13px;}
.dwelling04 .dot_list p{margin-bottom:0;}
.dwelling04 .list_bar span{display:inline-block;width:110px;}

/* declare */
.download::before{position:relative;top:4px;left:-8px;content:'';display:inline-block;width:11px;height:16px;background:url(../images/guide_download.png)no-repeat top center;}
.guidebook{margin-top:40px;padding:30px 0; border-top:1px solid #eee;border-bottom:2px solid #367fa9;}
.guidebook p{font-size:18px;color:#176899;letter-spacing:-0.45px;}
.guidebook{position:relative;}
.guidebook a{position:absolute;top:20px;right:0;font-size:15px;line-height:37px;padding:0 13px 0 30px;}
.img_wrap .download{margin-right:25%;}
.declare .img_wrap{text-align:center;margin-bottom:20px;padding:25px 0;background-color:#efefef;}
.declare >.section{margin-top:33px;}
.dash_list{margin-left:10px;}
.num_list{counter-reset:num;}
.num_list > li{padding-left:18px;text-indent:-18px;margin-top:5px;}
.fit_list .num_list>li{padding-left:0;text-indent:0;}
.intro02 .fit_list.dot_list dd{padding-left:0px;}
.num_list > li:first-child{margin-top:0;}
.num_list > li::before{counter-increment:num;content:counter(num)")";margin-right:8px;}
.num_list li p{padding-left:18px;font-size:14px;text-indent:-18px;}
.declare i{position:relative;top:-2px;color:#e95a5a;font-weight:600;}
.declare .num_list a{display:inline;color:#1a94dd;font-size:14px;}
.declare.declare02 .download{margin:0 5px 0 15px; font-size:12px;}
.num_list table{width:697px;margin:13px 0 14px; line-height:36px;}
.num_list th, .declare td{border:1px solid #b2b2b2;font-size:14px;}
.num_list table tr:first-child th{width:269px;background-color:#fdeed1;color:#000;}
.num_list th{background-color:#fbf1e6;font-weight:bold;}
.num_list td{background-color:#fff;}
.num_list p>span{display:block;text-indent:0;color:#555;}
.procedure{width:769px;margin:26px 0 35px;}
.reliefcenter{width:897px;margin:36px 0 26px;}
.reliefcenter p,.procedure p{font-weight:bold;color:#000;text-align:center;}
.procedure p{margin-bottom:22px;}
.reliefcenter p{margin-bottom:5px;}
.reliefcenter span::before{position:relative;top:2px;content:'·';font-size:25px;
font-weight:bold;margin-right:5px;}
.reliefcenter img{margin:5px 0 10px;}
.dash_list span{display:inline;}
.sort_bar:after{content:'/';display:inline;margin:0 10px;font-weight:normal;}
.reliefcenter .img_wrap{width:;}