@charset "utf-8";

/* main */
.main{background:url(../images/main-image.jpg) 0 0 no-repeat;background-size:cover;}
.intro_tit{color:#fff;padding-top:98px;}
.intro_tit h1{font-size:60px;letter-spacing:-.1em;color:#fff;line-height:1;}
.intro_tit p{font-size:24px;color:#fff;margin-top:20px;}
.intro_tit b{color:#f7e670;font-size:26px;}
.live_num ul,
.conts_num ul{display:flex;justify-content:space-between;}
.live_num li,
.conts_num li{background:url(../images/ico_main.png) 0 0 no-repeat;}
.live_num{display:inline-block;width:927px;margin-top:78px;}
.live_num li{font-size:20px;color:#fff;text-align:left;padding-left:94px;}
.live_num li:nth-child(1){background-position-y:15px;}
.live_num li:nth-child(2){background-position-y:-74px;}
.live_num li:nth-child(3){background-position-y:-169px;}
.live_num .num{font-size:50px;color:#fff;line-height:1;margin-bottom:5px;}
.conts_num{display:inline-block;width:678px;margin:30px 0;line-height:1;}
.conts_num li{font-size:13px;color:rgba(255,255,255,.5);text-align:left;padding-left:56px;}
.conts_num .num{font-size:30px;color:#fff;font-weight:600;margin-top:5px;}
.conts_num li:nth-child(1){background-position-y:-267px;}
.conts_num li:nth-child(2){background-position-y:-465px;}
.conts_num li:nth-child(3){background-position-y:-402px;}
.conts_num li:nth-child(4){background-position-y:-336px;}
.main .search_box{margin-top:25px;padding-top:35px; border-top:1px solid rgba(255,255,255,.2);}
.ipt_search{position:relative;display:inline-block;width:601px;}
.ipt_search input{width:100%;height:66px;line-height:1;border:2px solid #1a94dd;background-color:rgba(255,255,255,.2);color:#fff;font-size:18px;padding:0 96px 0 28px;}
.ipt_search input::-webkit-input-placeholder,
.ipt_search input:focus::-webkit-input-placeholder{color:#fff;font-size:18px;}
.ipt_search input::-moz-input-placeholder,
.ipt_search input::-ms-input-placeholder,
.ipt_search input::placeholder{color:#fff;font-size:18px;}
.ipt_search button{position:absolute;top:50%; right:20px;width:36px;height:36px;background:url(../images/btn_search.png) 0 0 no-repeat;margin-top:-18px;font-size:0;text-indent:-9999px;overflow:hidden;}
.main_notice{position:relative;display:flex;justify-content:center;background-color:#176899;}
.main_notice::before{content:"";position:absolute;right:0;top:0;width:50%;height:100%;background-color:#1a94dd;}
.main_notice h2{font-size:18px;color:#fff;font-weight:600;background:url(../images/ico_main.png) 0 -536px no-repeat;padding-left:32px;margin-right:28px;}
.main_notice ul{margin-top:-10px;}
.main_notice li{margin-top:10px;}
.main_notice li a{color:#fff;font-size:14px;line-height:1.2;white-space:nowrap;text-overflow:ellipsis;}
.main_notice li a:hover{color:#f7e670}
.main_notice li a::before{content:"·";font-weight:bold;margin-right:9px;}
.popular,
.newest{position:relative;flex:0 1 auto;display:flex;
width:709px;text-align:left;padding:22px 70px;box-sizing:border-box;}
/* intro */
.intro01 p{margin-top:60px;text-align:justify;font-size:18px;line-height:1.5;word-break:keep-all;letter-spacing:-.02em;}
.intro02{text-align:left;}
.intro02 .tit{padding-left:19px;margin-bottom:10px;}
.intro02 .tit h3{font-size:16px;
font-weight:600;line-height:1.2;}
.intro02 .body{padding-left:18px;}
.intro02 > .section{margin-top:60px;}
.intro02 > .section:first-of-type{margin-top:0;}
.intro02 p,
.intro02 dt,
.intro02 dd,
.intro02 li,
.intro03 li{font-size:14px;line-height:25px;}
.intro02 p{margin-bottom:5px;}
.intro02 .dot_list dt{color:#1a94dd;font-weight:600;margin-top:5px;}
.intro02 .dot_list:nth-child(1) dt:nth-of-type(2){margin-top:20px;}
.intro02 .dot_list dt::before{font-size:18px;content:'·';margin-right:7px;}
.intro02 .dot_list dd{padding-left:15px;}
.intro02 .li_figure{margin-top:10px;}
.li_figure li{text-align:center;margin:0 56px;}
.li_figure.mg_fix li{margin:0 0 0 50px;}
.li_figure p,
.box_figure .figure p{margin-top:8px;color:#000;}
.dash_list li{padding-left:11px;text-indent:-11px;}
.dot_list>li::before{content:"·";margin-right:5px;}
.dash_list>li::before{content:"-";margin-right:5px;}
.dash_list p{font-size:14px;text-indent:0;}
.box_figure{background-color:#efefef;padding:30px 36px 20px;margin:5px 0 30px;}
.box_figure .figure{text-align:center;margin-right:20px;}
.box_figure .mg_fix{margin-top:20px;}
.intro03{text-align:left;}
.intro03 .tit_h2 p{font-size:18px;color:#000;}
.intro03 .tit_h2 a{ font-size:15px;line-height:39px;padding:0 7px 0 38px;}
.intro03 .tit_h2 a::before{position:relative;top:3px;left:-13px;content:'';display:inline-block;width:11px;height:16px;background:url(../images/guide_download.png)no-repeat top center;}
.intro03 .tit_h2 a:hover::before{background-position:bottom center;}
.intro03 .article{background-color:#efefef;margin-top:60px;}
.intro03 .article:first-of-type{margin-top:-6px;}
.intro03 .article > .tit{display:flex;height:60px;align-items:center;background-color:
#b9baba;}
.intro03 .article .tit p{color:#000;font-weight:600;font-size:14px;}
.intro03 .article .tit h3 span::before{position:relative;content:':';font-size:16px;margin:0 8px;}
.intro03 .article .tit h3 span{font-size:14px;}
.intro03 .article .tit span{margin-left:5px;font-size:12px;color:#fff;line-height:33px;}
.intro03 .article .ico_ext{margin:0 16px 0 2px;}
.intro03 .ico_introdown{margin-right:2px;}
.intro03 .article h3{position:relative;z-index:1; width:266px;height:100%;background-color:#000;color:#fff;font-size:17px;line-height:60px;padding-left:33px;margin-right:61px;font-weight:600;}
.intro03 .article h3::after{position:absolute;z-index:-1;right:-43px;top:0; display:inline-block;width:60px;height:100%;content:"";transform: skew(-30deg);background-color:#000;}
.intro03 .article > .body{padding:23px 0 23px 30px;}
.intro03 .article > .section{margin-top:23px;}
.intro03 .section > .tit{background-color:#1a94dd;}
.intro03 .section > .tit h4{font-size:16px;color:#fff;font-weight:600;line-height:33px;padding:0 22px;}
.intro03 .section > .body{padding:20px 86px 30px;}
.num_list{counter-reset:num;}
.num_list > li{padding-left:18px;text-indent:-18px;margin-top:20px;}
.num_list > li:first-child{margin-top:0;}
.num_list > li::before{counter-increment:num;content:counter(num)")";margin-right:8px;}
.num_list .dash_list{margin-top:5px;}
.num_list li p{padding-left:18px;font-size:14px;text-indent:-18px;}
.intro03 .figure{margin-top:10px;text-indent:0;}
.intro03 i{position:relative;top:-2px;color:#e95a5a;font-weight:600;}
.intro03 .num_list a{display:inline;color:#1a94dd;font-size:14px;}
.num_list table{width:697px;margin:13px 0 14px; line-height:36px;}
.num_list th, .intro03 td{border:1px solid #b2b2b2;font-size:14px;}
.num_list table tr:first-child th{width:269px;background-color:#fdeed1;color:#000;}
.num_list th{background-color:#fbf1e6;font-weight:bold;}
.num_list td{background-color:#fff;}
.num_list p>span{display:block;text-indent:0;color:#555;}
.procedure{width:769px;margin:26px 0 35px;}
.reliefcenter{width:897px;margin:36px 0 26px;}
.reliefcenter p,.procedure p{font-weight:bold;color:#000;text-align:center;}
.procedure p{margin-bottom:22px;}
.reliefcenter p{margin-bottom:5px;}
.reliefcenter span::before{position:relative;top:2px;content:'·';font-size:25px;
font-weight:bold;margin-right:5px;}
.reliefcenter img{margin:5px 0 10px;}
.dash_list span{display:inline;}
.sort_bar:after{content:'/';display:inline;margin:0 10px;font-weight:normal;}